* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    margin: 2rem 0 2rem;
    text-align: center;
    font-size: 40px;
}

#users {
    width: 90%;
    height: auto;
    border: 2px solid black;
    border-radius: 2rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3rem;
    padding: 20px;
}

.error {
    color: red;
    font-size: 50px;
    text-align: center;
}

.userCard {
    border: 1px solid black;
    border-radius: 2rem;
    display: flex;
    gap: 10px;
}

p {
    font-size: 24px;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 30px;
}

button {
    margin: 20px 20px;
    font-size: 32px;
    padding: 5px 10px;
    border-radius: 50%;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.dark {
    background-color: #222;
    color: white;
    transition: all 0.3s ease;
}


