*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
.users{
    width: 90%;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.user{
    width: 44%;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;  
    display: flex;
    gap: 20px; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

.user_chiq{

}